*{
  margin-top: 0;
}
body{
  text-align: center;
  background-color: #fff;
  margin: 0px;
  padding: 0px;
}
/*--------------------------- header *-------------------------------------------------*/
#header{
  height:130px;
  width:100%;
  box-shadow:2px 2px 2px 2px #E5E5E5 ; 
}
.items{
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}
.items a{
  text-decoration: none;
  color: #000;
  margin: 30px;
}
#heading{
  font-size: 40px;
  color:black; 
}
.icons{
  display: flex;
  justify-content: flex-end;
}

/*----------------------- body of webpage *--------------------------------*/
.div_1{
  height:168px;
  width:100%;
}
.div_2{
  display:flex;
  margin:30px;
}
.filter_section{
  width:300px;
  height:50%;
  margin-top:60px; 
}
#heading_2{
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 72px;
  font-size: 40px;
  margin-top: 50px;
}
#content{
   font-size: 20px;
   font-weight: 400;
   width:45%;
   margin-left: 400px;
   line-height: 40px;
}
#count{
  font-size: 18px;
 text-align: start;
 font-weight: 700;
 line-height: 40px;
 margin-top: 90px;
 margin-left: 40px;
 border-bottom: 1px solid #E5E5E5;

}
#menu{
  padding: 10px;
  margin-left:75%;
}

.product_Data{
  display: grid;
  grid-template-columns: 1fr 1fr  1fr ;
  gap: 1.2rem;
  text-align: center;
  margin-top: 20px;
  height:100vh;
  width:932px;
  margin-left: 150px;
}
.product_Data li{
  list-style-type: none;
  height:262px;
  width:300px;
}
#product_img{
  width: 200px;
  height:220px;
  border: 2px solid #E5E5E5;
  padding: 5px;
  border-radius: 5%;
}
#product_img:hover{
  border: 2px solid #E5E5E5;
  box-shadow: 2px 2px 3px 2px #E5E5E5;
}
#product_name{
  font-size: 10px; 
}

/* ----------------------------footer *----------------------------------------*/
.footer{
  width:100%;
  height:600px;
  background-color: #000000;
  margin-top: 1300px;

}
.footer_section{
  display: flex;
  justify-content: space-around; 
}
.text_1{
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  text-align: start;
  margin-top: 20px; 
}
.text_2{
  color: #ffffffd4;
  font-weight: 200;
  font-size: 12px;
  text-align: start;
  margin-top: 20px;
}
.text_3{
  color: #ffffffd4;
  font-weight: 200;
  font-size: 12px;
  margin-top: 20px;
}
#input{
  padding: 10px;
  margin: 10px;
  width: 250px; 
}
#btn{
  padding: 10px;
  margin: 10px;
  background-color: #000000;
  color: #ffffff5a;
  width: 130px;
  border: 2px solid #ffffff5a;
  text-transform: uppercase;
}
#btn:hover{
  background-color: #ffffff5a;
  color: #000;
}
.font_icon{
   background-color: #fff;
   margin-left: 19px;
   margin-right: 10px;
}

/*---------------------------------- Responsive code for webpage *------------------------------------------*/
 @media screen and (min-width:320px) and (max-width:920px) 

{
  #header{
    height:130px;
    width:260%;
    box-shadow:2px 2px 2px 2px #E5E5E5 ; 
  }
  #heading_2{
    letter-spacing: 1px;
    line-height:20px;
    font-size: 25px;
    margin-left: 350px;
    width:95%;
  }
  #content{
    font-size: 15px;
    font-weight: 400;
    width:95%;
    margin-left: 350px;
    line-height: 20px;
  }
  .product_Data{
      gap:1rem;
      grid-template-columns: 1fr 1fr ;
  }
  #menu{
    padding: 10px;
    margin-left:170%;
  }
  .footer{
    width:260%;
    height:600px;
    margin-top: 2000px;
  }
  .footer_section{
    margin: 10px;
  }
  
}
